###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################



###############################################################################
#
# HOST DEFINITION
#
###############################################################################

# Define a host for the local machine

define host {

    use                     linux-server
    host_name               viewadmin03
    alias                   viewadmin03
    address                 10.250.3.4
}



###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup {

    hostgroup_name          viewadmin03
    alias                   viewadmin03
    members                 viewadmin03
}


#servicio para nrpe
define service {

    use                     local-service           ; nrpe
    host_name               viewadmin03
    service_description     nrpe_carga_actual
    check_command           check_nrpe! check_load

}



# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin03
    service_description     Current Users
    check_command           check_nrpe!check_users!20!50
}



# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin03
    service_description     SSH
    check_command           check_nrpe!check_ssh
    
}



# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 processes.

define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin03
    service_description     Total Processes
    check_command           check_nrpe!check_procs
}



#servicio para Grafana
define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin03
    service_description     Grafana
    check_command           check_nrpe!check_grafana
    
}


#servicio para influxdb
define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin03
    service_description     influxdb
    check_command           check_nrpe!check_influxdb
    
}


# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin03
    service_description     Root Partition
    check_command           check_nrpe!check_disk
}



define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin03
    service_description     prometheus
    check_command           check_nrpe!check_prometheus
}


define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin03
    service_description     mailhog
    check_command           check_nrpe!check_mailhog_http
}



define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin03
    service_description     mailhog_smtp
    check_command           check_nrpe!check_mailhog_smtp
}



define service {

    use                     local-service           ; Name of service template to use
    host_name               viewadmin03
    service_description     ntp_time
    check_command           check_nrpe!check_ntp_time
}

